{{> header_html}}

<tbody>
    <tr>
        <td>Congratulations, you’re on your way to better asthma health!</td>
    </tr>
    <br>
    <tr>
        <td>Changes in weather can make it difficult to breathe. Propeller Health helps you connect, learn and understand current weather conditions that affect your asthma. If weather conditions are fair or poor, we’ll notify you that morning. Asthma weather conditions are determined by key weather features like temperature, humidity and air quality.</td>
    </tr>
    <br>
    <tr>
        <td>Propeller Health enables people with asthma to live measurably better lives by providing actionable insights. Propeller offers a FDA-cleared, digital platform that makes managing asthma easier. Find out what’s triggering your symptoms.</td>
    </tr>
</tbody>

{{> footer_html}}